.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 14px;
}
.form {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.check{
  font-weight: 600;
  display: flex;
  gap: 20px;
}
.name{
  font-size: 12px;
  display: flex;
  gap: 10px;
}
.form input{
    width: 100%;
    padding: 10px;
    border: 2px solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
    outline: none;
}
.form button{
    width: 100%; 
    padding: 10px;
    background-color: teal;
    border: none;
    border-radius: 5px;
    color: var(--text);
    cursor: pointer;
    font-weight: 600;
}

.footer{
  font-size: 12px;
  font-weight: 600;
}
.inscrit{
  color: teal;


}
.inscrit:hover{
  text-decoration: underline;
}